@charset "UTF-8";
.btn-primary, .controls, .mobile-app__btns, .tab__item, .tab__icon, .options__btns, .option__btn, .option__btn .option__ico, .header__row, .galery, .galery__item, .mobile-app__wrapper, .footer__wrapper, .social__items, .products__img, .products__costs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.mobile-app__btn, .enjoy__content, .favorite, .slider__item, .about__wrapper, .galery__column, .mobile-app__conteiner, .footer__social, .contacts__items, .footer__contacts, .products__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a {
  color: #000000; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.header__logo-link a {
  cursor: pointer; }

.header__menu {
  position: relative;
  width: 72px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D; }
  .header__menu::before {
    position: absolute;
    content: url(../../assets/img/coffee-cup.png);
    left: 53px; }

@media (max-width: 768px) {
  .header__menu {
    display: none; } }

.item-menu {
  display: none; }

@media (max-width: 768px) {
  .header__item.item-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 14px;
    background-color: #E1D4C9; }
    .header__item.item-menu::before {
      content: '';
      display: block;
      background-image: url(../../assets/img/coffee-cup.svg);
      width: 40px;
      height: 40px; } }

@media (max-width: 768px) {
  .item-menu.link-active a {
    pointer-events: none; } }

.link {
  position: relative;
  height: 30px;
  cursor: pointer; }
  .link::after {
    content: "";
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #665F55;
    -webkit-transition: all 1s;
    transition: all 1s; }
    @media (max-width: 768px) {
      .link::after {
        display: none; } }
  @media (hover: hover) {
    .link:hover::after {
      width: 100%; } }

.header__menu a {
  cursor: pointer; }

@media (hover: hover) {
  .link-active a:hover {
    cursor: default; } }

.link-active a::after {
  content: "";
  bottom: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  height: 2px;
  background-color: #665F55;
  width: 100%; }

.btn-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 64px;
  width: 200px;
  padding: 20px 0;
  background-color: #E1D4C9;
  border-radius: 100px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
  cursor: pointer; }
  .btn-primary span {
    -webkit-transform: translateX(9px);
            transform: translateX(9px);
    -webkit-transition: all 0.8s;
    transition: all 0.8s; }
  .btn-primary .btn-icon {
    opacity: 0;
    -webkit-transition: all 0.8s;
    transition: all 0.8s; }
  @media (hover: hover) {
    .btn-primary:hover span {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px); }
    .btn-primary:hover .btn-icon {
      opacity: 1; } }
  @media (max-width: 860px) {
    .btn-primary span {
      -webkit-transform: translateX(-6px);
              transform: translateX(-6px); }
    .btn-primary .btn-icon {
      opacity: 1;
      -o-object-position: 2px top;
         object-position: 2px top; } }

.slider__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid #665F55;
  border-radius: 100%;
  background: 50% 50% no-repeat;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px; }
  @media (max-width: 680px) {
    .slider__arrow {
      display: none; } }
  @media (hover: hover) {
    .slider__arrow:hover {
      background-color: #665F55; }
      .slider__arrow:hover path {
        stroke: #E1D4C9 !important; } }

.controls {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px; }

progress {
  width: 40px;
  height: 4px;
  border-radius: 100px; }

progress[value] {
  background: #665F55;
  border-radius: 100px; }

progress[value]::-webkit-progress-bar {
  border-radius: 100px;
  background: #C1B6AD; }

progress[value]::-webkit-progress-value {
  background-color: #665F55;
  border-radius: 100px; }

progress[value]::-moz-progress-bar {
  border-radius: 100px;
  background: #C1B6AD; }

progress:not([value]) {
  border-radius: 100px;
  background-color: #C1B6AD; }

progress:not([value])::-webkit-progress-bar {
  border-radius: 100px;
  background-color: #C1B6AD; }

progress:not([value])::-webkit-progress-value {
  background-color: #665F55;
  border-radius: 100px; }

progress:not([value])::-moz-progress-bar {
  border-radius: 100px;
  background-color: #C1B6AD; }

.mobile-app__btns {
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.mobile-app__btn {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 64px;
  border: 1px solid #665F55;
  border-radius: 100px;
  padding: 12px 44px 12px 64px;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s; }
  @media (hover: hover) {
    .mobile-app__btn:hover {
      background-color: #665F55; }
      .mobile-app__btn:hover .mobile-app__caption {
        color: #E1D4C9; }
      .mobile-app__btn:hover .mobile-app__name {
        color: #E1D4C9; }
      .mobile-app__btn:hover .ico-dark {
        opacity: 0; } }

.mobile-app__caption {
  width: 92px;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  color: #403F3D; }

.mobile-app__name {
  width: 92px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D; }

.mobile-app__ico {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 14px;
  left: 20px; }

.contacts__item a {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #E1D4C9;
  position: relative;
  padding-left: 27px;
  cursor: pointer; }
  .contacts__item a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: #E1D4C9;
    bottom: -6px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all 1s;
    transition: all 1s; }
  .contacts__item a::before {
    position: absolute;
    top: -3px;
    left: -2px; }
  @media (hover: hover) {
    .contacts__item a:hover::after {
      width: 100%; } }

.adress::before {
  content: url(../../assets/img/pin-alt.svg); }

.phone::before {
  content: url(../../assets/img/phone.svg); }

.hours {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #E1D4C9;
  position: relative;
  padding-left: 27px;
  cursor: default; }
  .hours::before {
    content: url(../../assets/img/clock.svg);
    position: absolute;
    top: -1px;
    left: -2px; }

.social__item {
  position: relative;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1px solid #C1B6AD;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  @media (hover: hover) {
    .social__item:hover {
      background-color: #E1D4C9; }
      .social__item:hover .social__item-dark {
        opacity: 1; } }

.social__item-dark {
  position: absolute;
  opacity: 0;
  top: 18px;
  left: 18px; }

.social__item-light {
  position: absolute;
  top: 18px;
  left: 18px; }

.tab__item {
  padding: 8px 16px 8px 8px;
  border: 1px solid #C1B6AD;
  gap: 8px;
  border-radius: 100px;
  cursor: default;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

@media (hover: hover) {
  .tab__item-disabled:hover {
    cursor: pointer;
    background-color: #665F55; }
    .tab__item-disabled:hover .tab__icon {
      background-color: #E1D4C9; }
    .tab__item-disabled:hover .tab__item {
      background-color: #665F55; }
    .tab__item-disabled:hover .tab__text {
      color: #E1D4C9; } }

.tab__icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #C1B6AD;
  background-color: #C1B6AD;
  border-radius: 100px;
  height: 30px;
  width: 30px; }

.tab__item-active {
  background-color: #665F55; }
  .tab__item-active .tab__icon {
    background-color: #E1D4C9; }
  .tab__item-active .tab__text {
    color: #E1D4C9; }

.tab__text {
  font-weight: 400; }

.btn-refresh {
  display: none; }
  @media (max-width: 768px) {
    .btn-refresh {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 60px;
      height: 60px;
      border-radius: 100px;
      border: 1px solid #665F55; }
      .btn-refresh-hidden {
        display: none; } }

.options__btns {
  gap: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.option__btn {
  height: 46px;
  padding: 8px 16px 8px 8px;
  border: 1px solid #C1B6AD;
  gap: 8px;
  border-radius: 100px;
  cursor: default;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .option__btn .option__ico {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #C1B6AD; }
  .option__btn p {
    font-weight: 600; }

.option__btn-active {
  background-color: #665F55; }
  .option__btn-active p {
    color: #E1D4C9; }

.option__btn-disabled {
  background-color: #E1D4C9; }
  .option__btn-disabled p {
    color: #403F3D; }
  @media (hover: hover) {
    .option__btn-disabled:hover {
      background-color: #665F55; }
      .option__btn-disabled:hover p {
        color: #E1D4C9; } }

.products__btn {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 78px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border: 1px solid #665F55;
  border-radius: 100px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  @media (hover: hover) {
    .products__btn:hover {
      background-color: #665F55;
      color: #E1D4C9; } }

.header__burger {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  position: absolute;
  width: 44px;
  height: 44px;
  right: 0px;
  border-radius: 100%;
  border: 1px solid #665F55;
  z-index: 10;
  cursor: pointer; }
  .header__burger .header__line {
    display: block;
    width: 16px;
    height: 1.5px;
    border-radius: 1.5px;
    background-color: #403F3D;
    -webkit-transition: all 1s;
    transition: all 1s; }
  .header__burger .header__line:first-child {
    height: 2px; }
  @media (max-width: 480px) {
    .header__burger {
      right: 17px; } }
  @media (max-width: 380px) {
    .header__burger {
      right: 0px; } }

@media (max-width: 768px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .header__burger.active .header__line:first-child {
      -webkit-transform: rotate(-45deg) translate(-3.5px, 3.5px);
              transform: rotate(-45deg) translate(-3.5px, 3.5px);
      height: 1px; }
    .header__burger.active .header__line:last-child {
      -webkit-transform: rotate(45deg) translate(-3px, -3px);
              transform: rotate(45deg) translate(-3px, -3px);
      height: 1px; } }

.wrapper {
  max-width: 1360px;
  margin: 0 auto; }

html {
  background: #E1D4C9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #403F3D; }

h1 {
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  color: #E1D4C9;
  margin: 0; }
  @media (max-width: 720px) {
    h1 {
      font-size: 54px;
      font-style: normal;
      font-weight: 600;
      line-height: 115%;
      color: #E1D4C9; } }
  @media (max-width: 590px) {
    h1 {
      font-size: 42px;
      font-style: normal;
      font-weight: 600;
      line-height: 115%;
      color: #E1D4C9; } }

h2 {
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #403F3D;
  margin: 0; }
  @media (max-width: 480px) {
    h2 {
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%;
      color: #403F3D; } }

h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #403F3D;
  margin: 0; }

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #403F3D; }

.txt-accent {
  font-style: italic;
  color: #B0907A; }

.header {
  height: 60px;
  margin: 20px 0;
  padding: 0 40px; }
  @media (max-width: 480px) {
    .header {
      padding: 0 16px; } }

.header__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }

.header__logo {
  cursor: default;
  z-index: 5; }

@media (max-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 60px;
    padding: 50px 0;
    -webkit-transform: translateX(140%);
            transform: translateX(140%);
    width: 100%;
    gap: 55px;
    background-color: #E1D4C9;
    z-index: 4;
    height: 100vh;
    -webkit-transition: all 1s;
    transition: all 1s; }
    .header__nav.active {
      -webkit-transform: translateX(-40px);
              transform: translateX(-40px);
      -webkit-transition: all 1s;
      transition: all 1s; } }

@media (max-width: 480px) {
  .header__nav.active {
    -webkit-transform: translateX(-16px);
            transform: translateX(-16px);
    -webkit-transition: all 1s;
    transition: all 1s; } }

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-transition: all 1s;
  transition: all 1s; }
  @media (max-width: 768px) {
    .header__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center;
      background-color: #E1D4C9;
      padding: 52px 0 60px 0;
      gap: 70px; } }

.header__item {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D; }
  @media (max-width: 768px) {
    .header__item {
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%;
      color: #403F3D; } }

.enjoy {
  padding: 0 40px; }
  @media (max-width: 480px) {
    .enjoy {
      padding: 0 16px; } }

.enjoy__wrapper {
  border-radius: 40px;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

.enjoy__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.enjoy__content {
  padding: 100px 0 100px 100px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 630px;
  gap: 40px;
  z-index: 1; }
  @media (max-width: 860px) {
    .enjoy__content {
      padding: 100px 60px;
      max-width: 788px; } }
  @media (max-width: 590px) {
    .enjoy__content {
      padding: 60px 20px;
      max-width: 788px; } }
  @media (max-width: 380px) {
    .enjoy__content {
      padding: 60px 16px; } }

.enjoy__description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #E1D4C9; }

.favorite {
  padding: 100px 40px;
  gap: 40px; }
  @media (max-width: 480px) {
    .favorite {
      padding: 100px 0; } }

.favorite__title {
  text-align: center; }

.favorite__wrapper {
  width: 100%;
  padding: 0 4px; }
  @media (max-width: 860px) {
    .favorite__wrapper {
      padding: 0; } }
  @media (max-width: 480px) {
    .favorite__wrapper {
      padding: 0 16px; } }

.favorite__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 680px) {
    .favorite__slider {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.slider__description {
  text-align: center; }

.slider__wrapper {
  position: relative;
  width: 480px;
  overflow: hidden; }
  @media (max-width: 680px) {
    .slider__wrapper {
      width: 348px; } }

.slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300%;
  -webkit-transition: all 1s;
  transition: all 1s; }

.slider__item {
  cursor: default;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 480px;
  gap: 16px; }

.slider__img {
  max-height: 480px; }
  @media (max-width: 680px) {
    .slider__img {
      max-height: 348px; } }

.slider__title {
  margin: 5px 0 0 0; }

.about {
  padding: 0 40px; }
  @media (max-width: 480px) {
    .about {
      padding: 0 16px; } }

.about__wrapper {
  gap: 40px; }

.galery {
  gap: 40px; }
  @media (max-width: 768px) {
    .galery {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.galery__column {
  gap: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%; }
  @media (max-width: 768px) {
    .galery__column {
      width: 100%; } }

.galery__item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-radius: 20px; }
  .galery__item img {
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    -webkit-transition: all 1s;
    transition: all 1s; }
    @media (max-width: 768px) {
      .galery__item img {
        -webkit-transform: scale(1.057);
                transform: scale(1.057); } }
    @media (max-width: 480px) {
      .galery__item img {
        -webkit-transform: scale(1.229);
                transform: scale(1.229); } }
    @media (hover: hover) {
      .galery__item img:hover {
        -webkit-transform: scale(1);
                transform: scale(1); } }

.img-large {
  max-width: 660px;
  height: 590px; }
  @media (max-width: 768px) {
    .img-large {
      max-width: 100%; } }

.img-small {
  max-width: 660px;
  height: 430px; }
  @media (max-width: 768px) {
    .img-small {
      display: none; } }

.mobile-app {
  padding: 100px 40px; }
  @media (max-width: 768px) {
    .mobile-app {
      max-width: 768px; } }
  @media (max-width: 480px) {
    .mobile-app {
      padding: 100px 16px; } }

.mobile-app__wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 768px) {
    .mobile-app__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: start;
      gap: 100px; } }
  @media (max-width: 480px) {
    .mobile-app__wrapper {
      gap: 40px; } }

.mobile-app__conteiner {
  gap: 40px;
  max-width: 630px; }
  @media (max-width: 768px) {
    .mobile-app__conteiner {
      max-width: 100%; } }

@media (max-width: 768px) {
  .mobile-app__img {
    margin: 0 auto; } }

@media (max-width: 1200px) {
  .mobile-app__img img {
    width: 100%;
    height: 100%; } }

.footer {
  padding: 0 40px 40px 40px; }
  @media (max-width: 480px) {
    .footer {
      padding: 0 16px 16px 16px; } }

.footer__wrapper {
  padding: 100px;
  background-color: #665F55;
  border-radius: 40px;
  gap: 100px; }
  @media (max-width: 1200px) {
    .footer__wrapper {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      gap: 0; } }
  @media (max-width: 1080px) {
    .footer__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: start;
      gap: 100px; } }
  @media (max-width: 860px) {
    .footer__wrapper {
      padding: 100px 60px 102px 60px; } }
  @media (max-width: 700px) {
    .footer__wrapper {
      gap: 40px; } }
  @media (max-width: 480px) {
    .footer__wrapper {
      padding: 60px 16px; } }

.footer__social {
  width: 530px;
  gap: 40px; }
  @media (max-width: 700px) {
    .footer__social {
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%;
      color: #403F3D;
      max-width: 100%; } }

.social__title {
  color: #E1D4C9; }
  @media (max-width: 700px) {
    .social__title {
      font-size: 32px; } }

.contacts__title {
  color: #E1D4C9; }

.contacts__item {
  color: #E1D4C9; }

.contacts__items {
  gap: 20px; }

.footer__contacts {
  gap: 40px; }

.social__items {
  gap: 12px; }

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(64, 63, 61, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 15;
  padding: 0 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  @media (max-width: 480px) {
    .modal {
      padding: 0 19px; } }

.modal-show {
  opacity: 1;
  visibility: visible; }

.modal-hide {
  opacity: 0;
  visibility: hidden; }

.modal__wrapper {
  width: 800px;
  padding: 16px;
  border-radius: 40px;
  background-color: #E1D4C9; }
  @media (max-width: 768px) {
    .modal__wrapper {
      max-width: 688px; } }
  @media (max-width: 480px) {
    .modal__wrapper {
      width: 342px; } }

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px; }

.products__img {
  max-width: 310px;
  max-height: 310px;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 310px;
          flex: 0 0 310px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40px; }
  .products__img img {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -o-object-fit: cover;
       object-fit: cover; }
  @media (max-width: 720px) {
    .products__img {
      display: none; } }

.products__name {
  gap: 12px; }

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px; }

.products__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  max-width: 800px; }

.options__title {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #403F3D; }

.products__costs {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.products__alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-top: solid 1px #C1B6AD;
  gap: 8px;
  padding: 12px 0; }
  .products__alert .products__infotxt {
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    color: #403F3D; }

.products__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 16px;
  height: 16px; }
/*# sourceMappingURL=style.css.map */